* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F4ADC6;
}

#main {
    margin: 0 auto;
    text-align: center;
    width: 800px;
    background-color: white;
    border-radius: 5%;
}


h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

p,
h2 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    padding: 10px;
}

body>audio {
    margin: 20px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f2cbbb;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 20px;
}

.button:hover {
    background-color: #f9665e
}

.button:active {
    background-color: #f2cbbb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttons {
    height: 10%;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: #f9665e;
}

/* mouse over link */
a:hover {
    color: #094D92;
}

/* selected link */
a:active {
    color: #fdfd95;
}

.title {
    padding: 50px;
}

.footer {
    padding: 80px;
}

.audito {
    padding: 30px;
}

#svg-container {
    height: auto;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@keyframes rotateHue {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

#Fill_1_ {
    cursor: crosshair;
}

p {
    text-align: center;
    padding: 20px;
}

#Fill_1_ .st0:hover {
    stroke: rgb(230, 29, 219);
    stroke-width: 2px;
}

#selectedcolor {
    --selected-color: white;
    width: 20%;
    height: 2rem;
    margin: auto auto 3rem auto;
    background-color: var(--selected-color);
}

#colorcontainer {
    width: 40%;
    margin: auto;
    display: grid;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.colors {
    margin: auto;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.colors[data-selected="true"] {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.5s;
}

#color1 {
    background-color: #799fcb;
}

#color2 {
    background-color: #094D92;
}

#color3 {
    background-color: #79968B;
}

#color4 {
    background-color: #f2cbbb;
}

#color5 {
    background-color: #fec9c9;
}

#color6 {
    background-color: #f9665e;
}

#color7 {
    background-color: #fdfd95;
}

#color8 {
    background-color: black;
}

#color9 {
    background-color: #3da4ab;
}

#color10 {
    background-color: #c99789;
}

#color11 {
    background-color: #88d8b0;
}

#color12 {
    background-color: #708090;
}

#color13 {
    background-color: #be9b7b;
}

#color14 {
    background-color: #854442;
}

#color15 {
    background-color: #f37735;
}

#color16 {
    background-color: #ffdbac;
}