* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F4ADC6;
}

#main {
    margin: 0 auto;
    text-align: center;
    width: 800px;
    background-color: white;
    border-radius: 5%;
}


h1 {
    font-family: 'Pacifico', cursive;
    font-size: 20fr;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.title {
    padding: 50px;
}

.footer {
    padding: 80px;
}

.audito {
    padding: 30px;
}

#svg-container {
    height: auto;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@keyframes rotateHue {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

#Fill_1_ {
    cursor: crosshair;
}

p {
    text-align: center;
    padding: 20px;
}

#Fill_1_ .st0:hover {
    stroke: rgb(230, 29, 219);
    stroke-width: 2px;
}

#selectedcolor {
    --selected-color: #fec9c9;
    width: 20%;
    height: 2rem;
    margin: auto auto 3rem auto;
    background-color: var(--selected-color);
}

#colorcontainer {
    width: 40%;
    margin: auto;
    display: grid;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.colors {
    margin: auto;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.colors[data-selected="true"] {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.5s;
}

#color1 {
    background-color: #799fcb;
}

#color2 {
    background-color: #094D92;
}

#color3 {
    background-color: #79968B;
}

#color4 {
    background-color: #f2cbbb;
}

#color5 {
    background-color: #fec9c9;
}

#color6 {
    background-color: #f9665e;
}

#color7 {
    background-color: #fdfd95;
}

#color8 {
    background-color: black;
}